<div class="col-lg-3 col-md-4 col-sm-6 video-wrapper" data-id="{{ID}}">
	<div class="content">
		<div class="video-thumb">
			<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">
				<img src="{{THUMBNAIL}}" alt="{{TITLE}}">
			</a>
		</div>
		<div class="video-info">
			<div class="author-info">
				<div class="author-name">
					<a href="{{USER url}}" data-load="?link1=timeline&id={{USER username}}"><img class="img-circle" src="{{USER avatar}}" width="22"/> {{USER name_v}}</a> <span class="bold">·</span> <span>{{TIME}}</span>
				</div> 
				<div class="clear"></div>
			</div>
			<div class="video-title">
				<a href="{{URL}}" data-load="?link1=watch&id={{VIDEO_ID_}}">{{TITLE}}</a> 
			</div>
		</div>
	</div>
</div>